.App {
  text-align: center;
}

.App-header {
  background-color: #f1faee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f1faee;
}

.Wrapper {
  background: #457b9d;
  padding: 10px;
  box-shadow: 0 1px 4px 0 #457b9d;
  width: 250px;
  border-radius: 5px;
}

.Input-wrapper {
  display: flex;
  justify-content: space-between; /*space between input and button*/
  width: 250px;
  align-items: center;
}

.Input-wrapper input {
  border: 0;
  background-color: #f1faee;
  width: 200px;
  padding: 6px;
  height: 25px;
  margin: 10px;
  border-radius: 5px;
}

.Input-wrapper button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 3px;
  padding-bottom: 2px;
  outline: none;
}
