.Item {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 215px;
    height: 20px;
    border: 1px solid #f1faee;
    border-radius: 5px;
    padding: 10px;
    background: #254066;
}

.Item p {
    margin: 0;
    font-family: 'fantasy';
    font-size: 18px;
}

.Item button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    padding: 2px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}